extends layout

block content
  h2 All Professional Hockey Teams

  if companies.length
    .company-list
      each company in companies
        .company-card
          h3 #{company.properties.team_location} / #{company.properties.team_name}
          p Division: #{company.properties.team_division}
          p Country: #{company.properties.team_country}
  else
    p No valid teams found.
