extends layout

block content
  h2 Add a Hockey Team (Company)

  form(action='/companies' method='POST' class='form')
    .form-row
      label(for='team_location') City:
      input(type='text' name='team_location' placeholder='e.g. Detroit')
    .form-row
      label(for='team_name') Team Name:
      input(type='text' name='team_name' placeholder='e.g. Red Wings')
    .form-row
      label(for='team_country') Country:
      input(type='text' name='team_country' placeholder='e.g. USA')
    .form-row
      label(for='team_division') Division:
      input(type='text' name='team_division' placeholder='e.g. Central')

    button(type='submit') Add Team
